extends layout

block content
  h1= title
  p Welcome to #{appname}
  form( action='/admin', method='post')
      | Copy image:
      input(name='act', type='hidden',value='copy')
      br
      |imgs:
      input(name='imgs', type='textarea',style='width:600px;height:200px;',value='')
      br
      br
      |tuid:
      input(name='tuid', type='text',value='')

      br
      input(type='submit', value='submit')